<?xml version="1.0" encoding="utf-8"?>
<configuration>
  
  <appSettings>
    <add key="aria2c_HOME" value="C:\Programs\aria2-1.33.1-win-64bit-build1"/>
    <add key="aria2c_repository" value="C:\Programs\aria2_repository"/>
  </appSettings>
  
<startup><supportedRuntime version="v2.0.50727"/></startup></configuration>
